<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/restaurants.css">
    <title>Document</title>
</head>

<body>
    <main>
        <header class="header">
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/restaurants">Restaurants</a>
                <a href="#reviews">Reviews</a>
                <a href="#contact">Contact</a>
            </div>
        </header>
        <div class="container">
            <div class="grid-wrapper">

                <% for (let restaurant of restaurants) { %>
                    <div class="ui-card">
                        <a href="/restaurants/<%= restaurant.id %>">
                            <%= restaurant.name %>
                        </a>
                        <p>
                            <img src="<%= restaurant.image_url1 %>" alt="">
                            <img src="<%= restaurant.image_url2 %>" alt="">
                        </p>
                        <p>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </p>
                        <p>Location</p>
                        <p>
                            <%= restaurant.location %>
                        </p>
                    </div>
                    <% } %>
            </div>
        </div>
    </main>
</body>

</html>




